name: Deploy to Coolify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Trigger Coolify Deploy
        run: |
          curl -X POST "${{ secrets.COOLIFY_DEPLOY_WEBHOOK }}"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: '8.4'

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run tests
        run: php artisan test